
/*Le centre de la pae */
.background_header .header {
    background-color: #1C051C;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1C051C;
}
.accueil{
    background-color: #1C051C;
}
h1{
    padding-top : 50px;
    text-align : center;
    margin: 55px auto;
    color : #6BF8AC;
    text-align :center;
    margin : 0 auto;
    padding-top : 204px;
}
p {
    font-size : 15px;
    text-align : center;
    padding : 22px;
    color : white,
}

.header button {
    margin-top : 40px;
    display: block;
    margin: auto;
    padding: 10px;
    width: 80%;
    color : white;
    background : #E54C84;
    border-radius : 4px;
    border-style: none;
    margin-bottom: 80px;
}
/*Image du Footer*/
.img_footer{
    padding: 50px;
    width :89%;
}
/*Suivez-Trouver-Rencontrer*/
.circle{
    background: white;
    height: 98px;
    border-style: 3px solid black;
    border-radius: 50%;
    width: 100px;
}
.card {
    display :flex;
    padding-top : 50px;
    margin-top : 20px;
    border-radius: 20%;
    background-color: #1C051C;
    margin-bottom: 20px;
    height : 319px;
}
.card-body{
    padding: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    color : white;
}
.image .card-body {
    height : 20px;
    text-align : center;  
    padding : 10px;
}

h3{
    text-align : center;
    padding : 5px;
    color : #6BF8AC;
}
.img1 {
    width : 64px;
    text-align : center;
    margin-left: 15px;
}
.img2 {
    width: 68px;
    text-align: center;
    margin-left: 15px;
    padding-top: 10px;
}
.img3 {
    width : 94px;
    text-align : center;
    margin-left: 8px;
    padding-top: 10px;
}
.suivre{
    background-color: #1C051C;
    margin-top : 10px;
    height:473px;
}
.suivre .container{
    height :150px;
    padding-top: 60px;
    margin-bottom: 25px;
    display : flex;
    align-items : center;
    flex-direction : row;
    background-color: #1C051C;
}
h3{
    font-family: 'jmh_horrorhorror';
}
.circle {
    border-style: 1px solid white;
}

/*Les Partenaires*/
.partenaires .container{
    flex-flow: row nowrap ;
    align-items: center ;
    justify-content: space-around ;
    display: flex;
    flex-direction: row;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-top: 50px;
}

.img_movie {
    display : inline-block;
    margin : 0 auto;
    vertical-align: middle;
    border-style: none;
    width: 105px;
}

.partenaires {
   background-color : white;
    padding: 75px 0;
    padding-top: 76px;
    text-align: center;
}

.movie .img_movie{
    display: inline-block;
    padding: 5px;
    margin: 20px;
}
h4 {
    font-family: 'jmh_horrorhorror';
    padding: 15px;
    margin-bottom: 30px;
}