h1{
    text-align :center;
    margin : 0 auto;
    padding-top : 80px;
}

#container1{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

#container1 h1{
    text-align : center;
}

/*Nos Partenaires*/

#partners {
    padding: 100px 0;
    text-align: center;
}
#partners h2 {
    text-transform: uppercase;
}
#partners .gallery {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
#partners .gallery img:first-child, #partners .gallery img:last-child  {
    margin: 0
}
#partners .gallery img {
    margin: 0 20px;
}