/* Feuille de style DisplayMovies */

.DisplayMovies h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 2.5rem;
    
}

.DisplayMovies h3 {
    color: #1C051C;
}

.infos_movies p {
    color: #1C051C;
    margin: 0;
    padding: 0;
}

.like_movies {
    background: url("../img/like_movies.png") no-repeat; 
    width: 70px;
    height: 70px;
    border: none;
    position: absolute;

}
.movies_picture{ 
    position: relative;
}


