/* Feuille de style DisplayMovies */

.movie-container {
    display: flex;
    margin-left: 8vh;        
}

.movie-container h3 {
    text-align: center;
    font-size: 1.6rem;   
}

.movie-container p {
    text-align: center;
    font-size: 1.1rem;    
}

.bock-movies{
    margin: 10px;   
}

.like_movies {
    background: url("../img/like_movies.png") no-repeat; 
    width: 70px;
    height: 70px;
    border: none;
}

.DisplayMovies .btn-primary {
    background: url("../img/btn_submit.png") no-repeat;
    width: 180px;
    height: 72px;
    background-color: transparent;
    display: block;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'jmh_horrorhorror';
    color: #1C051C;
    font-size: 1.5em;
    margin: 0 auto;
}

.movie-container, img  {
    width: 200px;
    height: 250px;    
}

