body {
    margin: 0;
    padding: 0;
}

.imgInclineeFooter {
    height: 50px;
    width: 100%;
}

.flexReseauxSociaux {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;

}


.pourFlex {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;

}

footer {
    background-color:  #1C051C;
    padding-bottom: 20px;
}

.cssDesLiens {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #E2E0E2;
    margin: 0 0 40px 0;
}

li {
    list-style-type: none;
    font-family: 'open_sansregular';

}

.cssImgIcones {
    width: 100px;
    height: auto;
}

@media screen and (max-width: 1000px) {

    .cssDesLiens {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

}