body {
    margin: 0;
    padding: 0;
}

.flexNav1 {
    position: relative;
}

.imgLogo {
    position: absolute;
    top: 30px;
    width: 450px;
    height: auto;
    padding-left: 80px;
}

.buttonNav1 {
    position: absolute;
    right: 0;
    background-color: transparent;
    background-image: url("../img/bouton.png");
    font-family: 'jmh_horrorhorror';
    font-size: 1.5em;
    background-repeat: no-repeat;
    border: none;
    margin-right: 80px;
    margin-top: 50px;
    width: 200px;
    height: 95px;
}

.navNav1 {
    height: 100px;
    margin: 0;
    background-color:  #E54C84;
}


  @media screen and (max-width: 700px) {

    .navNav1 {
    height: 140px;

    }

    .buttonNav1 {

    margin-top: 90px;

    }

}

@media screen and (max-width: 420px) {

    .navNav1 {
        height: 180px;
    
        }
    
        .buttonNav1 {
    
        margin-top: 130px;
    
        }
}