.navNav2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color:  #1C051C;


}

.pNav2 {
    font-family: 'jmh_horrorhorror';
    font-size: 2em;
    color: #E2E0E2;
    margin-left: 80px;

}

.liNav2 {
    color: #E2E0E2;
}

.ulNav2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
