.match{
    text-align: center;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px 0px 60px 0px;
    color: #6BF8AC;
    font-family: 'jmh_horrorhorror';
}
.img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 3px solid #6BF8AC;
}
.imglieu{
    width: 300px;
    height: 200px;
    border: 2px solid #6BF8AC;
}




